In [1]:
#Benicio Ramos Magalhaes

In [2]:
#Bibliotecas
#!pip install statsmodels==0.11.1
#!pip install spicy==0.16.0
#!pip install pmdarima==1.7.1
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error

from scipy.optimize import curve_fit
from scipy.optimize import fsolve
from scipy import stats

import matplotlib.pyplot as plt
%matplotlib inline

from statsmodels.formula.api import ols

import statsmodels as sm
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_process import arma_generate_sample
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf,plot_pacf
from statsmodels.tools.eval_measures import rmse

from pmdarima import auto_arima

import seaborn as sns

In [3]:
dados = pd.read_csv('dados.csv',index_col=0)
dados.head()

              X         Y    D
1980-01-31  0.0  0.572232  0.0
1980-02-29  1.0  2.425839  0.0
1980-03-31  2.0  3.847004  0.0
1980-04-30  3.0  2.933853  0.0
1980-05-31  4.0  7.916690  0.0

In [19]:
#média agrupada por anos
print('...10 últimas décadas detectou um aumento importante da produção, com média mensal de',dados.groupby('D')['Y'].mean()[0],'toneladas')
print('...para a década de 80, e ',dados.groupby('D')['Y'].mean()[1],'toneladas, para a década de 90 (teste t de Student para amostras independentes, supondo-se variâncias equivalentes: p-valor<0,001)')

...10 últimas décadas detectou um aumento importante da produção, com média mensal de 66.43559135753982 toneladas
...para a década de 80, e  198.331313924806 toneladas, para a década de 90 (teste t de Student para amostras independentes, supondo-se variâncias equivalentes: p-valor<0,001)