# Similaridade

## Dataset
Kaggle: https://www.kaggle.com/geomack/spotifyclassification

Dataset de músicas do Spotify

In [1]:
import pandas as pd
import numpy as np
musicas = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/Similaridade/main/Musicas.csv', index_col = 0)

In [2]:
musicas.shape

(2017, 16)

In [3]:
musicas.head()

    acousticness  danceability  ...      song_title            artist
id                              ...
0         0.0102         0.833  ...        Mask Off            Future
1         0.1990         0.743  ...         Redbone  Childish Gambino
2         0.0344         0.838  ...    Xanny Family            Future
3         0.6040         0.494  ...  Master Of None       Beach House
4         0.1800         0.678  ...  Parallel Lines       Junior Boys

[5 rows x 16 columns]

In [4]:
musicas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2017 entries, 0 to 2016
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   acousticness      2017 non-null   float64
 1   danceability      2017 non-null   float64
 2   duration_ms       2017 non-null   int64
 3   energy            2017 non-null   float64
 4   instrumentalness  2017 non-null   float64
 5   key               2017 non-null   int64
 6   liveness          2017 non-null   float64
 7   loudness          2017 non-null   float64
 8   mode              2017 non-null   int64
 9   speechiness       2017 non-null   float64
 10  tempo             2017 non-null   float64
 11  time_signature    2017 non-null   float64
 12  valence           2017 non-null   float64
 13  target            2017 non-null   int64
 14  song_title        2017 non-null   object
 15  artist            2017 non-null   object
dtypes: float64(10), int64(4), object(2)
memory usage: 267.9+ KB

## Operações Knn e Range

In [5]:
def knn_query(centroConsulta,vetCaract,k):
  aux = vetCaract.copy(deep=True)
  aux['dist'] = aux.apply(lambda x: np.linalg.norm(x-centroConsulta), axis = 1)
  aux = aux.sort_values('dist')
  print(aux.head(k))
  return aux.head(k).index

In [6]:
def range_query(centroConsulta,vetCaract,raio):
  aux = vetCaract.copy(deep=True)
  aux['dist'] = aux.apply(lambda x: 1 if np.linalg.norm(x-centroConsulta) <= raio else 0, axis = 1)
  return aux.query('dist == 1').index

## Vetor de Características

https://developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/

In [7]:
musicas.columns

Index(['acousticness', 'danceability', 'duration_ms', 'energy',
       'instrumentalness', 'key', 'liveness', 'loudness', 'mode',
       'speechiness', 'tempo', 'time_signature', 'valence', 'target',
       'song_title', 'artist'],
      dtype='object')

In [8]:
vetCaract = musicas[['acousticness','danceability','energy','instrumentalness','liveness','speechiness','valence']]

In [9]:
vetCaract.head()

    acousticness  danceability  energy  ...  liveness  speechiness  valence
id                                      ...
0         0.0102         0.833   0.434  ...    0.1650       0.4310    0.286
1         0.1990         0.743   0.359  ...    0.1370       0.0794    0.588
2         0.0344         0.838   0.412  ...    0.1590       0.2890    0.173
3         0.6040         0.494   0.338  ...    0.0922       0.0261    0.230
4         0.1800         0.678   0.561  ...    0.4390       0.0694    0.904

[5 rows x 7 columns]

## Centro de consulta

In [10]:
centroConsulta = vetCaract.iloc[1].values
centroConsulta

array([0.199  , 0.743  , 0.359  , 0.00611, 0.137  , 0.0794 , 0.588  ])

In [11]:
musicas.iloc[1][['song_title','artist']]

song_title             Redbone
artist        Childish Gambino
Name: 1, dtype: object

## Consulta 1 - Knn

In [12]:
knn1 = knn_query(centroConsulta,vetCaract,3)
knn1

      acousticness  danceability  energy  ...  speechiness  valence      dist
id                                        ...
1            0.199         0.743   0.359  ...       0.0794    0.588  0.000000
990          0.135         0.756   0.415  ...       0.0555    0.662  0.116338
1374         0.164         0.844   0.320  ...       0.0475    0.575  0.122764

[3 rows x 8 columns]

Int64Index([1, 990, 1374], dtype='int64', name='id')

In [13]:
musicas.query('id in @knn1')[['song_title','artist']]

                  song_title            artist
id
1                    Redbone  Childish Gambino
990   No Sleep Till Brooklyn      Beastie Boys
1374                    Talk              10cm

## Consulta 2 - Range query

In [14]:
range1 = range_query(centroConsulta,vetCaract,0.12)
range1

Int64Index([1, 990], dtype='int64', name='id')

In [15]:
musicas.query('id in @range1')[['song_title','artist']]

                 song_title            artist
id
1                   Redbone  Childish Gambino
990  No Sleep Till Brooklyn      Beastie Boys

## Vetor de Característica 2

In [16]:
vetCaract2 = musicas[['danceability','energy','valence']]

## Centro de consulta - Personalizado

In [17]:
centroConsulta2 = [1,1,1]
centroConsulta2 = np.array(centroConsulta2)

In [18]:
centroConsulta3 = [0,0,0]
centroConsulta3 = np.array(centroConsulta3)

## Consulta 2 - Knn

In [19]:
knn2 = knn_query(centroConsulta2,vetCaract2,3)
knn2

      danceability  energy  valence      dist
id
1900         0.926   0.916    0.903  0.148125
1586         0.890   0.891    0.947  0.163677
405          0.865   0.896    0.939  0.181003

Int64Index([1900, 1586, 405], dtype='int64', name='id')

In [20]:
musicas.query('id in @knn2')[['song_title','artist']]

             song_title                              artist
id
405       Bustin' Loose  Chuck Brown and the Soul Searchers
1586  My Favorite Snack                  Imagination Movers
1900     Hollaback Girl                        Gwen Stefani

## Consulta 3 - Knn

In [21]:
knn3 = knn_query(centroConsulta3,vetCaract2,3)
knn3

      danceability  energy  valence      dist
id
817          0.148  0.0310   0.0638  0.164120
1598         0.156  0.0230   0.0588  0.168293
1600         0.152  0.0626   0.0484  0.171363

Int64Index([817, 1598, 1600], dtype='int64', name='id')

In [22]:
musicas.query('id in @knn3')[['song_title','artist']]

                                             song_title                     artist
id
817   Mozart: Requiem in D Minor, K. 626: VIII. Lacr...       Nikolaus Harnoncourt
1598  Piano Quartet in E flat, Op.47: 3. Andante can...            Robert Schumann
1600         Trio Sonata in G Major, Wq. 144: I. Adagio  Carl Philipp Emanuel Bach

# DW + Similaridade

In [23]:
exame = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/DWmedico/master/Exam.csv')

In [24]:
paciente = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/DWmedico/master/Patient.csv')

In [25]:
hospital = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/DWmedico/master/Hospital.csv')

In [26]:
dataExame = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/DWmedico/master/ExamDate.csv')

In [27]:
descricaoExame = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/DWmedico/master/ExamDescription.csv')

In [28]:
haralick = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/DWmedico/master/Haralick.csv')

## Consulta Convencional
Quantos exames com suspeita de câncer de mama foram realizados em pacientes do sexo feminino?

In [29]:
descricaoExame.head()

   PK Equipamento  ... ParteCorpo RazaoInvestigacao
0   1   Mamógrafo  ...       MAMA           routine
1   2   Mamógrafo  ...       MAMA     tumor suspect
2   3   Mamógrafo  ...       MAMA    post treatment
3   4   Mamógrafo  ...       MAMA      not informed
4   5   Mamógrafo  ...       MAMA             other

[5 rows x 8 columns]

In [30]:
descricaoFiltrada = descricaoExame.query('ParteCorpo == "MAMA" and RazaoInvestigacao == "tumor suspect"')
descricaoFiltrada.shape

(751, 8)

In [31]:
paciente.head()

   PK                    Nome      Nasc  ...       Cidade Estado    Pais
0   1  Patient .............1  1/1/1901  ...    sao paulo     sp  brasil
1   2  Patient .............2  2/2/1902  ...     campinas     sp  brasil
2   3  Patient .............3  3/3/1903  ...       santos     sp  brasil
3   4  Patient .............4  4/4/1904  ...  santo andre     sp  brasil
4   5  Patient .............5  5/5/1905  ...   piracicaba     sp  brasil

[5 rows x 10 columns]

In [32]:
pacienteFiltrado = paciente.query('Sexo == "female"')
pacienteFiltrado

         PK                        Nome  ... Estado       Pais
0         1      Patient .............1  ...     sp     brasil
3         4      Patient .............4  ...     sp     brasil
6         7      Patient .............7  ...     sp     brasil
9        10     Patient .............10  ...     sp     brasil
12       13     Patient .............13  ...     rj     brasil
...     ...                         ...  ...    ...        ...
9987   9988   Patient .............9988  ...         argentina
9990   9991   Patient .............9991  ...     sp     brasil
9993   9994   Patient .............9994  ...     sp     brasil
9996   9997   Patient .............9997  ...     sp     brasil
9999  10000  Patient .............10000  ...     sp     brasil

[3334 rows x 10 columns]

In [33]:
exame.head()

   FK_DescricaoExame  FK_DataExame  ...  FK_Haralick  Quantidade
0                  1      20100101  ...            1           1
1                  2      20100102  ...            2           1
2                  3      20100103  ...            3           1
3                  4      20100104  ...            4           1
4                  5      20100105  ...            5           1

[5 rows x 6 columns]

In [34]:
examePaciente = exame.merge(pacienteFiltrado,left_on = 'FK_Paciente',right_on = 'PK')
examePacienteDescricao = examePaciente.merge(descricaoFiltrada,left_on = 'FK_DescricaoExame',right_on = 'PK')
examePacienteDescricao['Quantidade'].sum()

250

## Consulta com Similaridade
Quantos exames com suspeita de câncer de mama são similares à determinado exame considerando pacientes do sexo feminino?

In [35]:
haralick.head()

   PK   Caract1    Caract2    Caract3    Caract4
0   1  4.361686  14.349301  13.943300  13.781088
1   2  4.139440  14.466641  14.053040  13.898384
2   3  1.554944   2.159588   1.641221   2.249076
3   4  1.532200   2.260882   1.602180   2.300917
4   5  1.667880   2.276725   1.653380   2.433057

In [36]:
haralick = haralick.set_index('PK')

In [37]:
centroConsulta = haralick.iloc[0].values
centroConsulta

array([ 4.361686, 14.349301, 13.9433  , 13.781088])

In [38]:
harRange = range_query(centroConsulta,haralick,20)

In [39]:
harRange

Int64Index([    1,     2,    12,    13,    14,    15,    16,    17,    18,
               19,
            ...
            99871, 99878, 99879, 99946, 99947, 99948, 99949, 99950, 99951,
            99952],
           dtype='int64', name='PK', length=27865)

In [40]:
haralickFiltrado = haralick.query('PK in @harRange')
haralickFiltrado.shape

(27865, 4)

In [41]:
haralickFiltrado.head()

     Caract1    Caract2    Caract3    Caract4
PK
1   4.361686  14.349301  13.943300  13.781088
2   4.139440  14.466641  14.053040  13.898384
12  1.518173   4.989150   4.386849   5.324519
13  1.501782   5.146305   4.573014   5.518607
14  1.523906   4.943938   4.456168   5.406981

In [42]:
examePacienteDescricaoHaralick = examePacienteDescricao.merge(haralickFiltrado, left_on = 'FK_Haralick', right_on = 'PK')
examePacienteDescricaoHaralick['Quantidade'].sum()

42

## Função de distância (lat,long)

https://gist.github.com/rochacbruno/2883505

In [43]:
import math

def geo_dist(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [44]:
marilia = [-22.2208,-49.9486]
marilia = np.array(marilia)

bauru = [-22.31472,-49.06056]
bauru = np.array(bauru)

sp = [-23.533773,-46.625290]
sp = np.array(sp)

In [45]:
geo_dist(marilia,sp)

370.4324263349737

## DW + Similaridade (Geo)

In [46]:
city = pd.read_csv('https://raw.githubusercontent.com/GuiMuzziUSP/DWmedico/master/City.csv')

In [47]:
city.tail()

          PK                 1   2     3  ...    97    98       99      100
24995  24996  Battle_Lake_city  MN   686  ...  2.25  1.54  46.2836 -95.7134
24996  24997      Red_Lake_CDP  MN  1430  ...  3.40  3.68  47.8773 -95.0121
24997  24998   Hallsville_city  MO   978  ...  2.42  2.43  39.1170 -92.2206
24998  24999   Harrington_city  DE  3174  ...  2.60  2.58  38.9244 -75.5747
24999  25000   Lake_Mills_city  WI  4843  ...  2.71  2.00  43.0801 -88.9092

[5 rows x 101 columns]

In [48]:
exame['FK_City'] = 0

In [49]:
count = 1
for index, row in exame.iterrows():
  if (count > 25000):
    count = 1
  row['FK_City'] = count
  count = count + 1

In [50]:
exame.tail()

       FK_DescricaoExame  FK_DataExame  ...  Quantidade  FK_City
99995              99996      20191004  ...           1    24996
99996              99997      20191005  ...           1    24997
99997              99998      20191006  ...           1    24998
99998              99999      20191007  ...           1    24999
99999             100000      20191008  ...           1    25000

[5 rows x 7 columns]

In [51]:
city.head()

   PK                1   2      3     4  ...    96    97    98       99       100
0   1      Winder_city  GA  10201  5365  ...  1692  2.56  2.49  33.9965  -83.7209
1   2  Colonie_village  NY   7916  4092  ...   534  2.56  2.12  42.7209  -73.8341
2   3  Washington_city  AR    148    86  ...    19  1.93  1.79  33.7747  -93.6815
3   4     Wanchese_CDP  NC   1527   753  ...   149  2.51  2.43  35.8450  -75.6395
4   5     Selawik_city  AK    772   371  ...    94  2.86  2.40  66.5970 -160.0140

[5 rows x 101 columns]

In [52]:
geo = city[['PK','99','100']]

In [53]:
geo = geo.set_index('PK')

In [54]:
geo.head()

         99       100
PK
1   33.9965  -83.7209
2   42.7209  -73.8341
3   33.7747  -93.6815
4   35.8450  -75.6395
5   66.5970 -160.0140

In [55]:
ny = [40.730610, -73.935242]
ny = np.array(ny)

In [56]:
def range_geo(centroConsulta,vetCaract,range):
  aux = vetCaract.copy(deep = True)
  aux['dist'] = aux.apply(lambda x: 1 if geo_dist(np.array(x),centroConsulta) <= range else 0, axis = 1)
  return aux.query('dist == 1').index

In [57]:
geoRange = range_geo(ny,geo,500)

In [58]:
geoRange.shape

(3805,)

In [59]:
cityFiltradaGeo = city.query('PK in @geoRange')
cityFiltradaGeo

          PK                        1   2      3  ...    97    98       99      100
1          2          Colonie_village  NY   7916  ...  2.56  2.12  42.7209 -73.8341
9         10              Clinton_CDP  CT   3516  ...  2.41  2.14  41.2779 -72.5305
17        18               Pomona_CDP  NJ   4019  ...  3.19  2.24  39.4673 -74.5477
23        24             Oakland_town  MD   1930  ...  2.31  1.84  39.4105 -79.4044
27        28           Kings_Park_CDP  NY  16146  ...  3.12  1.84  40.8885 -73.2426
...      ...                      ...  ..    ...  ...   ...   ...      ...      ...
24962  24963      East_Brookfield_CDP  MA   1410  ...  2.75  2.34  42.2290 -72.0508
24965  24966   Susquehanna_Trails_CDP  PA   2134  ...  2.92  2.78  39.7611 -76.3722
24974  24975  East_Petersburg_borough  PA   4450  ...  2.62  2.47  40.1001 -76.3526
24994  24995               Iselin_CDP  NJ  16698  ...  2.90  2.39  40.5746 -74.3168
24998  24999          Harrington_city  DE   3174  ...  2.60  2.58  38.9244 -75.5747

[3805 rows x 101 columns]

In [60]:
harRange = range_query(centroConsulta,haralick,30)
haralickFiltrado = haralick.query('PK in @harRange')

In [61]:
examePaciente = exame.merge(pacienteFiltrado,left_on = 'FK_Paciente',right_on = 'PK')
examePacienteDescricao = examePaciente.merge(descricaoFiltrada,left_on = 'FK_DescricaoExame',right_on = 'PK')
examePacienteDescricaoHaralick = examePacienteDescricao.merge(haralickFiltrado, left_on = 'FK_Haralick', right_on = 'PK')
examePacienteDescricaoHaralickGeo = examePacienteDescricaoHaralick.merge(cityFiltradaGeo,left_on = 'FK_City',right_on = 'PK')
examePacienteDescricaoHaralickGeo['Quantidade'].sum()

29

## DW + Similaridade (Socioeconômico)

In [62]:
socio = city[['PK','3','6','7','8','9','10','11','12','13','14','15','16','17','18']]
socio['6'] = socio['6']/socio['3']
socio['7'] = socio['7']/socio['3']
socio['8'] = socio['8']/socio['3']
socio['9'] = socio['9']/socio['3']
socio['10'] = socio['10']/socio['3']
socio['11'] = socio['11']/socio['3']
socio['12'] = socio['12']/socio['3']
socio['13'] = socio['13']/socio['3']
socio['14'] = socio['14']/socio['3']
socio['15'] = socio['15']/socio['3']
socio['16'] = socio['16']/socio['3']
socio['17'] = socio['17']/socio['3']
socio['18'] = socio['18']/socio['3']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [63]:
socio.head()

   PK      3         6         7  ...        15        16        17        18
0   1  10201  0.079796  0.073620  ...  0.036369  0.064798  0.052544  0.024311
1   2   7916  0.050657  0.061521  ...  0.050657  0.105483  0.053689  0.013391
2   3    148  0.040541  0.047297  ...  0.087838  0.101351  0.087838  0.067568
3   4   1527  0.050426  0.056974  ...  0.039293  0.066143  0.041912  0.012443
4   5    772  0.068653  0.064767  ...  0.031088  0.029793  0.010363  0.000000

[5 rows x 15 columns]

In [64]:
socio = socio.drop(columns = '3')
socio = socio.set_index('PK')

In [65]:
city.query('PK == 9349')

        PK              1   2        3  ...    97   98       99      100
9348  9349  New_York_city  NY  8008278  ...  2.81  2.5  40.7042 -73.9179

[1 rows x 101 columns]

In [66]:
nySocio = socio.loc[9349].values
nySocio

array([0.06753986, 0.07006687, 0.06628341, 0.06501285, 0.07365266,
       0.17082586, 0.15774677, 0.12641731, 0.04609043, 0.03925301,
       0.06178532, 0.04012848, 0.01519715])

In [67]:
rangeSocio = range_query(nySocio,socio,0.05)
rangeSocio

Int64Index([    1,     8,    12,    19,    35,    37,    74,    78,    80,
               82,
            ...
            24947, 24950, 24961, 24973, 24979, 24984, 24985, 24988, 24995,
            25000],
           dtype='int64', name='PK', length=2288)

In [68]:
cityFiltradaGeoSocio = city.query('PK in @geoRange and PK in @rangeSocio')

In [69]:
examePacienteDescricaoHaralickGeoSocio = examePacienteDescricaoHaralick.merge(cityFiltradaGeoSocio,left_on = 'FK_City',right_on = 'PK')
examePacienteDescricaoHaralickGeoSocio['Quantidade'].sum()

7