# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Técnicas Avançadas para Captura e Tratamento de Dados</span>

## <span style="color:blue"> Matriz Documento $\times$ Palavras - Bag of Words</span>
    
## <span style="color:blue">Avaliação</span>

**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

Os exercícios abaixo fazem uso da coleção de documentos presente no diretório `DocCol2` contido no arquivo <font style="font-family: monaco"> DocCol.zip</font>, o qual pode ser baixado do Moodle.

In [20]:
import glob
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import pandas as pd
import numpy as np
from collections import Counter

In [21]:
_ = nltk.download('punkt')
_ = nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\fernando\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\fernando\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### Exercício 1)
Armazene os documentos disponíveis no diretório `DocCol2` em um dicionário onde a chave é o nome do arquivo e o valor é a string contida no arquivo. O documento contendo a string com o maior número de caracteres é:

a) gr7<br>
__b) au2__ <br>
c) ch5<br>
d) au8

In [22]:
stop_words = stopwords.words('english')
files = glob.glob("DocCol2/*")
ddocs = []

for fname in files:
    key = fname.split('\\')[-1]
    with open(fname,'r') as f:
        ddocs.append((key, f.read()))
        
df_docs = pd.DataFrame(ddocs, columns=['Name', 'Doc'])
df_docs['LenDoc'] = df_docs['Doc'].apply(len)
df_docs.sort_values('LenDoc', ascending=False).head()

    Name                                                Doc  LenDoc
7    au2  From: welty@cabot.balltown.cma.COM (richard we...   11672
10   au5  From: CPKJP@vm.cc.latech.edu (Kevin Parker)\nS...    9693
5   au14  From: eliot@engr.washington.edu (eliot)\nSubje...    9351
45  ch37  From: jhpb@sarto.budd-lake.nj.us (Joseph H. Bu...    9279
80  gr23  From: lilley@v5.cgu.mcc.ac.uk (Chris Lilley)\n...    9261

### Exercício 2)
Crie um dicionário chamado `docsXwords` onde as chaves são os nomes dos arquivos e os valores são as listas de palavras do documento correspondente. As palavras em cada uma das listas devem ser constituídas apenas por letras do alfabeto, estarem lexicamente normalizadas e conterem mais que 1 caracter. Qual o documento cuja lista de palavras resultante possui o **maior** número de palavras repetidas:

a) gr22<br>
__b) ch30__<br>
c) au2<br>
d) au8

In [23]:
def tratar_texto(t):
    words = nltk.word_tokenize(t) 
    words = [w.lower() for w in words if w.isalpha()] 
    words = [PorterStemmer().stem(w) for w in words]
    words = [w for w in words if len(w) > 1]
    return words

df_docs['Words'] = df_docs['Doc'].apply(tratar_texto)
df_docs['WordsLen'] = df_docs['Words'].apply(len)
df_docs['WordsUniqueLen'] = df_docs['Words'].apply(lambda x: len(set(x)))
df_docs['RepeatedWordsLen'] = df_docs['WordsLen'] - df_docs['WordsUniqueLen']
df_docs.sort_values('RepeatedWordsLen', ascending=False).head()

,Name,Doc,LenDoc,Words,WordsLen,WordsUniqueLen,RepeatedWordsLen
38,ch30,From: db7n+@andrew.cmu.edu (D. Andrew Byler)\n...,8849,"[from, andrew, byler, subject, the, nicen, cre...",1525,390,1135
7,au2,From: welty@cabot.balltown.cma.COM (richard we...,11672,"[from, welti, richard, welti, subject, welcom,...",1678,556,1122
31,ch24,From: pharvey@quack.kfu.com (Paul Harvey)\nSub...,8409,"[from, pharvey, paul, harvey, subject, re, sab...",1413,382,1031
80,gr23,From: lilley@v5.cgu.mcc.ac.uk (Chris Lilley)\n...,9261,"[from, lilley, chri, lilley, subject, oh, make...",1409,398,1011
28,ch21,From: REXLEX@fnal.fnal.gov\nSubject: Assurance...,8109,"[from, rexlex, subject, assur, of, hell, dream...",1413,408,1005

### Exercício 3)
Utilizando as listas de palavras do dicionário `docsXwords`, quais as três palavras que mais aparecem na coleção de documentos:

a) the, is, of<br>
b) that, is, of<br>
__c) the, of, to__ <br>
d) to, is, of

In [24]:
pd.Series(df_docs['Words'].sum()).value_counts()

the         5014
of          2627
to          2611
and         2093
is          1762
            ...
stingi         1
spectat        1
yugo           1
belgium        1
spacelab       1
Length: 6865, dtype: int64

### Exercício 4)
Qual o documento cuja lista de palavras possui o **menor** número de "stop words"? Quantas "stop words" aparecem neste documento:

__a) gr5 com 47 "stop words"__<br>
b) gr17 com 47 "stop words"<br>
c) gr5 com 37 "stop words"<br>
d) gr17 com 37 "stop words"

**Dica**: Crie um dicionário onde a chave é o nome do documento e o valor o número de stop words no documento.

In [25]:
def contar_stopwords(lista):
    return len([l for l in lista if l in stop_words])
    
df_docs['TotalStopwords'] = df_docs['Words'].apply(contar_stopwords)
df_docs.sort_values('TotalStopwords').head()

,Name,Doc,LenDoc,Words,WordsLen,WordsUniqueLen,RepeatedWordsLen,TotalStopwords
86,gr5,From: lusardi@cs.buffalo.edu (Christopher Lusa...,4887,"[from, lusardi, christoph, lusardi, subject, p...",256,88,168,47
73,gr17,From: walter@uni-koblenz.de (Walter Hower)\nSu...,4931,"[from, walter, walter, hower, subject, re, des...",435,191,244,68
68,gr12,From: spl@dim.ucsd.edu (Steve Lamont)\nSubject...,7477,"[from, spl, steve, lamont, subject, re, find, ...",346,145,201,69
88,gr7,From: arp@cooper!osd (Andrew Pinkowitz)\nSubje...,5337,"[from, arp, cooper, osd, andrew, pinkowitz, su...",460,269,191,99
69,gr13,"From: ianf@random.se (Ian Feldman, The Other I...",8606,"[from, ianf, ian, feldman, the, other, interne...",612,357,255,130

### Exercício 5) 
Utilize o dicionário `docsXwords` para construir
uma matriz Documentos $\times$ Palavras para a coleção de documentos do diretório `DocCol2`. Utilizando a distância cosseno, qual é o documento mais parecido com o documento 'ch7':

a) ch8<br>
__b) ch16__<br>
c) ch5<br>
d) au8

In [56]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_distances
from sklearn.feature_extraction.text import CountVectorizer

In [57]:
idx_ch7 = df_docs.loc[df_docs['Name'] == 'ch7'].index

In [58]:
cv = CountVectorizer()
df_cv = cv.fit_transform(df_docs['Words'].apply(lambda x: ' '.join(x)))
df_cv = pd.DataFrame(df_cv.todense(), columns=cv.vocabulary_.keys())
df_cv.sample(5)

,from,ssave,the,devil,reincarn,subject,re,wa,safeti,how,...,bonu,pardon,hiss,fume,libel,frustat,consent,isabel,barreno,sabbat
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
52,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
X = StandardScaler().fit_transform(df_cv)
distances = cosine_distances(X, X[idx_ch7, :])
df_docs['DistToCh7'] = distances[:, 0]
df_docs.sort_values('DistToCh7')

,Name,Doc,LenDoc,Words,WordsLen,WordsUniqueLen,RepeatedWordsLen,TotalStopwords,DistToCh7
62,ch7,From: shellgate!llo@uu4.psi.com (Larry L. Over...,5941,"[from, shellgat, llo, larri, overack, subject,...",872,333,539,401,3.552714e-15
22,ch16,From: jhpb@sarto.budd-lake.nj.us (Joseph H. Bu...,7162,"[from, jhpb, joseph, buehler, subject, re, ssp...",1131,402,729,500,9.780925e-01
23,ch17,From: wagner@grace.math.uh.edu (David Wagner)\...,8161,"[from, wagner, david, wagner, subject, re, cer...",1324,425,899,606,9.789468e-01
16,ch10,From: johnsd2@rpi.edu (Dan Johnson)\nSubject: ...,6239,"[from, dan, johnson, subject, re, the, arrog, ...",1019,345,674,478,9.824535e-01
14,au9,From: storrs@eos.ncsu.edu (JERRY STORRS)\nSubj...,4926,"[from, storr, jerri, storr, subject, re, warn,...",636,287,349,276,9.867951e-01
...,...,...,...,...,...,...,...,...,...
25,ch19,From: cmgrawbu@eos.ncsu.edu (CHRISTOPHER M GRA...,6643,"[from, cmgrawbu, christoph, grawburg, subject,...",1132,399,733,549,1.025342e+00
3,au12,From: heiser@acs2.bu.edu (Bill Heiser)\nSubjec...,7736,"[from, heiser, bill, heiser, subject, re, ford...",1184,428,756,513,1.026010e+00
10,au5,From: CPKJP@vm.cc.latech.edu (Kevin Parker)\nS...,9693,"[from, cpkjp, kevin, parker, subject, insur, r...",1192,465,727,466,1.026856e+00
85,gr4,From: mogal@deadhead.asd.sgi.com (Joshua Mogal...,6240,"[from, mogal, joshua, mogal, subject, re, sgi,...",888,379,509,384,1.027233e+00
5,au14,From: eliot@engr.washington.edu (eliot)\nSubje...,9351,"[from, eliot, eliot, subject, review, audi, qu...",1491,580,911,647,1.031898e+00