## Orientações - Prof. Louzada
4. Uma questão terá como foco as disciplinas “Redes Neurais e Arquiteturas Profundas” e “Análise de Dados com Base em Processamento Massivo em Paralelo”. Essas duas disciplinas compreenderão uma questão da prova, a qual será dividida em itens. A questão envolverá código e deverá ser feita usando um notebook. Neste notebook, todas as bibliotecas, bases de dados, inicializações, instalações, importações, geração de dataFrames, geração de visões temporárias e atualização dos tipos de dados necessárias para a realização da questão já estarão realizadas. Portanto, o aluno irá se preocupar somente com a especificação do código solicitado. Assim como feito na avaliação final da disciplina de “Análise de Dados com Base em Processamento Massivo em Paralelo”, os itens da questão poderão ser encontrados utilizando o menu de navegação. Isso facilitará o rápido acesso ao local do notebook no qual cada item da questão se encontra. Adicionalmente, também será indicado o local do notebook no qual o código desenvolvido para resolver os itens deve ser especificado. Quanto ao conteúdo a ser cobrado em cada uma dessas disciplinas, destaca-se que: 
   O foco da disciplina de “Redes Neurais e Arquiteturas Profundas” é no projeto (arquitetura em camadas), treinamento (otimização e estratégias) e predição (de exemplos com o modelo treinado) usando uma rede neural.
   O foco da disciplina de “Análise de Dados com Base em Processamento Massivo em Paralelo” é na especificação de consultas OLAP, segundo a mesma filosofia usada na avaliação final da disciplina.   Ou seja, a especificação de consultas OLAP usando a linguagem SQL e/ou os métodos de pyspark.sql. Ao concluir a questão e assinalar a resposta que julgue correta no Moodle, os seguintes passos devem ser realizados para concluir a submissão da resposta: 
   
   4.1) Exportar o notebook que foi utilizado para resolver a questão da prova em formato .py e fazer upload no Moodle. Atenção: não deve ser feito upload de um arquivo notebook (.ipynb), mas sim de um arquivo texto .py contendo os códigos python que foram utilizados para resolver às questões. O arquivo .py pode ser gerado realizando-se as seguintes ações: File --> Download as --> Python (.py) disponível no Jupyter Notebook. ou File --> Download .py no Google Colab. Caso a resolução da questão não tenha sido feita usando o Jupyter, o código desenvolvido para responder à questão deve ser enviado em um arquivo ASCII (Texto) salvo na extensão .py 
   
   4.2) Exportar o notebook que foi utilizado para resolver a questão da prova em formato .pdf e fazer upload no Moodle.
   
   4.3) Os arquivos devem ser nomeados com o nome e o sobrenome do aluno, SEM ESPAÇO entre as partes de seu nome. Exemplo: moacirponti.py e moacirponti.pdf 
   
   4.4) É OBRIGATÓRIO conter no cabeçalho (início) do arquivo um comentário com o seu nome completo. Por exemplo,# Moacir Ponti

## Verificar Aula 02, 03 e Avaliação Final - Redes Neurais

<img src='.\img\cnn.JPG'>
<img src='.\img\convolucao.JPG'>

Zero-padding: para compensar a impossibilidade de computar todos os valores; amplia-se a entrada de forma que o volume de saída seja igual ao de entrada
<img src='.\img\zero-padding.JPG'>
Convolução em profundidade: quando a entrada possui mais do que 1 canal. O filtro terá k × k × p, onde p é a quantidade de canais de entrada
<img src='.\img\profundidade.JPG'>

#### Conceitos:

Machine Learning e Deep Learning depende de entender otimização e conhecer bem:

I Função de custo/perda e intuição de seus valores

I (Intuição) do gradiente da função

I Inicialização

I Algoritmo de otimização

I Taxa de aprendizado

I Tamanho do batch

I Convergência ao longo do treinamento


##### Função de custo: 
Métrica que indique o custo de escolher o modelo atual Idealmente deve ser convexa e produzir um gradiente com boa magnitude. Difícil, considerando todas as direções do hiper-espaço de parâmetros.

Mean-squared-error: erro médio quadrático/perda
quadrática
I utilizada para valores contínuos,
I mede a divergência quadrática de cada valor de entrada com
relação à saída

I Cross-entropy: entropia cruzada
I mais comum e recomendada para probabilidades
I teoria da informação
I intuição: o numero de bits adicionais necessários para
representar o evento de referência ao invés do predito.

##### Gradiente
Codifica as taxas de alteração no espaço de parâmetros
I queremos andar na direção do vale, em busca do mínimo global

Backpropagation
I utiliza a derivada ao longo das camadas para adaptar os pesos
I as funções de custo e de ativação tem que produzir derivada
útil


Vanishing gradient
I se ativações geram valores muito baixos não é possível adaptar
I usar precisão dupla (double) e escalar as funções é uma
possibilidade
I esse é um dos motivadores do uso de ReLU ao invés de
Sigmóides como função de ativação

##### Funções:
<img src='.\img\funcoes.JPG'>

##### Inicialização
Aleatória portanto o resultado é diferente a cada execução.
Escolhas comuns
I Pesos: valor aleatório pela distribuição normal entre 0-1
I Bias: 0 (zero)
A complexidade do treinamento dificulta múltiplas execuções
I Importante fazer experimentos piloto em pequenos
subconjuntos de dados

##### Otimização
Stochastic Gradient Descent (SGD)

Batch Stochastic Gradient Descent (SGD)

Momentum :Interpreta o custo como um terreno montanhoso.

Adam: Utiliza momentos do gradiente: o segundo momento é usado para normalizar o primeiro, evitando outliers/pontos de inflexão

##### Tamanho de batch
Há uma relação entre tamanho de batch e taxa de aprendizado.
Padrão é 32

batches maiores: estimativas mais suaves, difícil manter na
memória, exige ajustar bem a taxa de aprendizado,

batches menores: estimativas mais ruidosas, mas que
mostraram vantagens em encontrar melhores mínimos

##### Taxa de atualização
Padrão é 0.01

pode ser pouco adequado para alguns otimizadores

pode ser pouco adequado para batchs maiores (ou muito
pequenos)

É recomendado iniciar com um valor maior, e reduzir a taxa
progressivamente (learning rate scheduling).

##### Convergencia ao longo do treinamento
O gráfico do custo diz muito sobre o aprendizado

Acompanhe o custo ao longo de épocas, se possível com
conjunto de validação (idealmente não deve ser o teste!)

Inicie com experimentos com poucos exemplos

Explore os hiperparâmetros tentando obter "overfitting" para
um subconjunto de exemplos, obtendo custo próximo a zero, e
depois refine a busca num conjunto maior.

#### Modelos

In [ ]:
#rede neural convolucional (CNN)
CNN = keras.Sequential()
CNN.add(keras.layers.Conv2D(32,kernel_size=(3,3),strides=(2,2),padding='same', activation='relu',
                            input_shape=(img_lin, img_col,1)))

CNN.add(keras.layers.Conv2D(64,kernel_size=(1,3),padding='same',strides=(1,2),activation='relu'))
CNN.add(keras.layers.Conv2D(64,kernel_size=(3,1),padding='same',strides=(2,1),activation='relu'))
CNN.add(keras.layers.Conv2D(128,kernel_size=(3,3),padding='valid',activation='relu'))
CNN.add(keras.layers.GlobalAveragePooling2D())
CNN.add(keras.layers.Dense(num_classes,activation='softmax'))
CNN.summary()

In [ ]:
#denoising overcomplete autoencoder para pré-treinamento baseado em auto-supervisão
def denoising_over_AE(input_shape):
    input = keras.layers.Input(shape=(input_shape))
    #encoder:
    encoder = keras.layers.BatchNormalization()(input)
    encoder = keras.layers.Dense(32, activation='relu')(encoder)
    encoder = keras.layers.Dense(32, activation='relu')(encoder)
    encoder = keras.layers.Dropout(0.2)(encoder)
    encoder = keras.layers.BatchNormalization()(encoder)
    encoder = keras.layers.Dense(28, activation='relu',name='code')(encoder)
    #decoder
    decoder = Dense(32,activation='relu',name='input_decoder')(encoder)
    decoder = Dense(32,activation='relu')(decoder)
    decoder = Dense(28,activation='tanh')(decoder)
    #autoencoder
    autoencoder = keras.models.Model(input, decoder)
    autoencoder.summary()
    return autoencoder


#Treinar com perda MSE por 20 épocas com batch size 16 utilizando o conjunto U
batch_size = 16
epochs = 20

modelo_A = denoising_over_AE(28)

modelo_A.compile(loss='mse',
                 optimizer=keras.optimizers.Adam(lr=lr))

historyDenoising = modelo_A.fit(x=UNoise, y=U,
                                 epochs=epochs, 
                                 batch_size = batch_size,
                                 callbacks=[callbacklr],
                                 verbose=1)


#DICA:
#realizando PCA pra imprimir dados
pca_S_Orig = PCA(n_components=2, random_state=1)
pca_S_Orig_result = pca_S_Orig.fit_transform(SxNorm)

#realizando o plot
fig = plt.figure(figsize=(20,6))
sns.scatterplot(x=pca_S_Orig_result[:,0],y=pca_S_Orig_result[:,1],alpha='auto', hue=Sy['Class'], palette='prism')
plt.title('Scatterplot com projeção PCA do conjunto de S original')
plt.show()

In [ ]:
#rede neural profunda densa, utilizando como base o encoder do modelo A, 
#e inserindo uma nova camada densa de classificação com ativação sigmóide.

#obtendo saída da camada de encode do modelo A
base_saida = modelo_A.layers[-4].output

#criando nova camada de saída que recebe a anterior
saida_nova = Dense(1, activation='sigmoid')(base_saida)

#modelo B, com a nova camada de saida
modelo_B = keras.models.Model(modelo_A.inputs, saida_nova)
modelo_B.summary()

#taxa de aprendizado inicial de 0.001 e com decaimento em todas as épocas, exponencial a -0.3
lr = 0.001

def scheduler_B (epoch, lr):
    if epoch < 1:
        return lr
    else:
        return np.round(lr * tf.math.exp(-0.3),4)

callbacklr = tf.keras.callbacks.LearningRateScheduler(scheduler_B)

#ponderar o total de cada classe e formar o peso, pois as mesmas estão muito desbalanceadas
#Uso de pesos para as classes: 0.1 para classe 0 (majoritária), e 0.9 para a classe 1 (minoritária)
peso_0 = 0.1
peso_1 = 0.9
class_weight = {0: peso_0, 1: peso_1}

#Treinar com perda MSE por 8 épocas com batch size 16
batch_size = 16
epochs = 8

#Compute como métricas, além da perda, precisão e revocação (precision / recall)
metrics = [
    keras.metrics.Precision(name='precision'),
    keras.metrics.Recall(name='recall'),
]

#compilando o modelo B
modelo_B.compile(loss='mse',
                 optimizer=keras.optimizers.Adam(lr=lr),
                 metrics=metrics)

#como não foi comentado nada nas questões referentes a este item, por padrão, fiz o treinamento com os dados sem ruído
#sem ruído
history = modelo_B.fit(x=Sx, y=Sy,
                       epochs = epochs, 
                       batch_size = batch_size,
                       callbacks = [callbacklr],
                       class_weight = class_weight,
                       verbose=1)

#DICA:
#Exiba o gráfico da precisão e revocação no treinamento calculada ao longo das épocas
fig = plt.figure(figsize=(20,6))
fig = plt.plot(history.history['precision'],'b')
fig = plt.plot(history.history['recall'], color='tab:orange', linestyle='--')
fig = plt.title('Gráfico de Precisão e Revocação Calculado ao Longo das Épocas')
fig = plt.xlabel('Épocas')
fig = plt.legend(["precision","recall"], loc="upper left")

In [ ]:
#modelo DNN com a mesma arquitetura usada no modelo B, mas sem pré-treinamento
def dnn(input_shape):
    input = Input(shape=(input_shape))
    #encoder:
    encoder = BatchNormalization()(input)
    encoder = Dense(32, activation='relu')(encoder)
    encoder = Dense(32, activation='relu')(encoder)
    encoder = Dropout(0.2)(encoder)
    encoder = BatchNormalization()(encoder)
    encoder = Dense(28, activation='relu',name='code')(encoder)
    #decoder
    decoder = Dense(1, activation='sigmoid')(encoder)
    dnn = keras.models.Model(input,decoder)
    dnn.summary()
    return dnn

#compilando o modelo DNN
modelo_DNN.compile(loss='mse',
                   optimizer=keras.optimizers.Adam(lr=lr),
                   metrics=metrics)

#como não foi comentado nada nas questões referentes a este item, por padrão, fiz o treinamento com os dados sem ruído
#sem ruído
historyDNN = modelo_DNN.fit(x=Sx, y=Sy,
                       epochs = epochs, 
                       batch_size = batch_size,
                       callbacks = [callbacklr],
                       class_weight = class_weight,
                       verbose=1)

In [ ]:
#Classificador SVM treinado nos dados originais S.

#aplicando ponderaração das classes
peso_0 = 0.1
peso_1 = 0.9
class_weight = {0: peso_0, 1: peso_1}

#definindo modelo SVM
model = SVC(kernel='linear', C = 0.5, 
            random_state=1,
            class_weight = class_weight)

#como não foi comentado nada nas questões referentes a este item, por padrão, fiz o treinamento com os dados sem ruído
#aplicando reshape do Sy, apenas para manter num formato sem warning do sklearn de array de 1d

#sem ruído
model.fit(Sx,np.asarray(Sy).reshape(-1)) 

#com ruído
#model.fit(SxNoise,np.asarray(Sy).reshape(-1))

#predizendo as classes para S e T:
predict_Sy = model.predict(Sx)
predict_Ty = model.predict(Tx)

## Verificar Avaliação Final - Processamento Massivo

In [ ]:
#preparação ambiente
import os 

#import modificado para ambiente windows
os.environ['SPARK_HOME'] = 'D:\\Program\\spark-3.0.0-bin-hadoop2.7'
os.environ['PYSPARK_DRIVER_PYTHON_OPTS']='notebook'

#importando o módulo findspark
import findspark
#carregando a variávels SPARK_HOME na variável dinâmica PYTHONPATH
findspark.init()

from pyspark.sql import SparkSession

#estava tomando erro no JAVA_HOME que não estava configurado. 
#Dê preferencia para instalar em um local sem espaço em branco no nome do diretório em ambiente windows.
spark = SparkSession.builder.appName("pyspark-notebook").master("local[*]").getOrCreate()

In [ ]:
# Resposta da Questão 1

#------------------------------------------------------CÓDIGO COMENTADO------------------------------------------------------#
# 01. selecionando dataAno como ANO, funcSexo como SEXO e a média do salário com arredondamento de 2 casas como MEDIASALARIO #
# 02. especificando as relações de data com pagamento contendo mesma dataPK                                                  #
# 03. especificando as relações de funcionario com pagamento contendo mesmo funcPK                                           #
# 04. agrupando os resultados por ANO e SEXO                                                                                 #
# 05. ordenando o ANO e SEXO de forma ascendente                                                                             #
# 06. apresentando os 20 primeiros resultados sem truncamento das strings                                                    #
#----------------------------------------------------------------------------------------------------------------------------#

consultaSQL = """
SELECT dataAno AS `ANO`, funcSexo AS `SEXO`, ROUND(AVG(salario),2) AS `MEDIASALARIO`
FROM data JOIN pagamento ON (data.dataPK = pagamento.dataPK)
          JOIN funcionario ON (funcionario.funcPK = pagamento.funcPK)
GROUP BY ANO, SEXO
ORDER BY ANO ASC, SEXO ASC  
"""
spark.sql(consultaSQL).show(20,truncate=False)

In [ ]:
# Resposta da Questão 2

#importando a função round para poder fazer o arredondamento dos valores agregados
from pyspark.sql.functions import round

#------------------------------------------------------CÓDIGO COMENTADO-------------------------------------------------------#
# 01. utilizando dados de funcionario                                                                                         #
# 02. junto com dados de pagamento pela chave primária funcPK                                                                 #
# 03. junto com dados de data pela chave primária dataPK                                                                      #
# 04. selecionando os dados requisitados dataAno, funcSexo, funcRegiaoNome e salario                                          #
# 05. listando todas as agregações com cube usando as dataAno, funcSexo, funcRegiaoNome e agregando pela média dos salários.  #
#     O método cube serve para criar subtotais para todas as combinações de atributos definidos na lista de agrupamento       #
# 06. arredondando média dos salários para duas casas decimais                                                                #
# 07. renomeando dataAno para ANO                                                                                             #
# 08. renomeando funcSexo para SEXO                                                                                           #
# 09. renomeando funcRegiaoNome para REGIAO                                                                                   #
# 10. renomeando avg(salario) para MEDIASALARIO                                                                               #
# 11. ordenando por dataAno, funcSexo e funcRegiaoNome, todos ascendentes                                                     #
# 12. apresentando os 20 primeiros resultados sem truncamento das strings                                                     #
#-----------------------------------------------------------------------------------------------------------------------------#

funcionario\
    .join(pagamento, on='funcPK')\
    .join(data, on='dataPK')\
    .select('dataAno','funcSexo','funcRegiaoNome','salario')\
    .cube('dataAno','funcSexo','funcRegiaoNome').avg('salario')\
    .withColumn('avg(salario)',round('avg(salario)',2))\
    .withColumnRenamed('dataAno','ANO')\
    .withColumnRenamed('funcSexo','SEXO')\
    .withColumnRenamed('funcRegiaoNome','REGIAO')\
    .withColumnRenamed('avg(salario)','MEDIASALARIO')\
    .orderBy('dataAno','funcSexo','funcRegiaoNome', ascending=True)\
    .show(20,truncate=False)

In [ ]:
# Resposta da Questão 3

#------------------------------------------------------CÓDIGO COMENTADO------------------------------------------------------#
# 01. selecionando dataAno como ANO                                                                                          #
#     aplicando um select para extrair o ano atual e subtraindo de funcAnoNascimento para definir a IDADE                    #
#     selecionando funcRegiaoNome como REGIAO                                                                                #
#     realizando a soma dos salarios arredondando para 2 casas decimais como TOTALSALARIO                                    #
# 02. especificando as relações de data com pagamento contendo mesma dataPK                                                  #
# 03. especificando as relações de funcionario com pagamento contendo mesmo funcPK                                           #
# 04. aplicando condição para funcionárias apenas do sexo feminino                                                           #
# 05. que nasceram entre 1970 (inclusive) e 1990 (inclusive) aplicando a função BETWEEN                                      #
# 06. que vivem no SUDESTE ou no NORDESTE (tanto pelo nome da região quanto pela sigla)                                      #
# 07. agrupando os dados por ANO, IDADE e REGIAO                                                                             #
# 08. ordenando por ANO, IDADE e REGIAO de forma ascendente                                                                  #
# 09. apresentando os 20 primeiros resultados sem truncamento das strings                                                    #
#----------------------------------------------------------------------------------------------------------------------------#

consultaSQL = """
SELECT dataAno AS `ANO`, ((SELECT EXTRACT (YEAR FROM CURRENT_DATE)) - funcAnoNascimento) AS `IDADE`, funcRegiaoNome AS `REGIAO`, ROUND(SUM(salario),2) AS `TOTALSALARIO`
FROM data JOIN pagamento   ON (data.dataPK = pagamento.dataPK)
          JOIN funcionario ON (funcionario.funcPK = pagamento.funcPK)
WHERE funcSexo = 'F' 
      AND funcAnoNascimento BETWEEN 1970 AND 1990
      AND (funcRegiaoNome = 'SUDESTE' OR  funcRegiaoNome = 'NORDESTE' OR funcRegiaoSigla = 'SE' OR funcRegiaoSigla = 'NE')
GROUP BY ANO, IDADE, REGIAO 
ORDER BY ANO ASC, IDADE ASC, REGIAO ASC
"""
spark.sql(consultaSQL).show(20,truncate=False)

In [ ]:
# Reposta da Questão 4

#------------------------------------------------------CÓDIGO COMENTADO------------------------------------------------------#
# 01. utilizando dados de negociacao                                                                                         #
# 02. juntando com dados de equipe pela chave primária equipePK                                                              #
# 03. juntando com dados de data pela chave primária dataPK                                                                  #
# 04. juntando com dados de cliente pela chave primária clientePK                                                            #
# 05. aplicando condição para equipePK sendo 1, 3  e 5 e clientes da cidade de SAO CARLOS                                    #
# 06. selecionando os dados requisitados dataAno, equipeNome, filialNome, clienteSetor e receita                             #
# 07. agrupando por dataAno, equipeNome, filialNome, clienteSetor e agregando pela soma das receitas                         #
# 08. arredondando a soma da receitas para 2 casas decimais                                                                  #
# 09. renomeando dataAno para ANO                                                                                            #
# 10. renomeando equipeNome para NOMEEQUIPE                                                                                  #
# 11. renomeando filialNome para NOMEFILIAL                                                                                  #
# 12. renomeando clienteSetor para SETORCLIENTE                                                                              #
# 13. renomeando sum(receita) para TOTALRECEITA                                                                              #
# 14. ordenando por ANO, NOMEEQUIPE, NOMEFILIAL e SETORCLIENTE de forma ascendente                                           #
# 15. apresentando os 20 primeiros resultados sem truncamento das strings                                                    #
#----------------------------------------------------------------------------------------------------------------------------#

negociacao\
    .join(equipe, on='equipePK')\
    .join(data, on='dataPK')\
    .join(cliente, on='clientePK')\
    .where('(equipePK = 1 OR equipePK = 3 OR equipePK = 5) AND clienteCidade = "SAO CARLOS"')\
    .select('dataAno', 'equipeNome', 'filialNome', 'clienteSetor', 'receita')\
    .groupBy('dataAno', 'equipeNome', 'filialNome', 'clienteSetor').sum('receita')\
    .withColumn('sum(receita)',round('sum(receita)',2))\
    .withColumnRenamed('dataAno','ANO')\
    .withColumnRenamed('equipeNome','NOMEEQUIPE')\
    .withColumnRenamed('filialNome','NOMEFILIAL')\
    .withColumnRenamed('clienteSetor','SETORCLIENTE')\
    .withColumnRenamed('sum(receita)','TOTALRECEITA')\
    .orderBy('ANO','NOMEEQUIPE','NOMEFILIAL', 'SETORCLIENTE',ascending=True)\
    .show(20,truncate=False)

In [ ]:
# Resposta da Questão 5

#------------------------------------------------------CÓDIGO COMENTADO------------------------------------------------------#
#    Neste caso vamos usar a operação drill-across que compara medidas numéricas de tabelas de fatos diferentes              #
#    utilizando uma dimensão em comum (no caso data).                                                                        #
# 01. selecionando dataAnoP (dataAno já consolidada na subquery de salário) como ANO                                         #
#     selecionando a soma dos salarios arredondando com 2 casas como TOTALSALARIO                                            #
#     selecionando a soma das receitas arredondando com 2 casas como TOTALRECEITA                                            #
#    Vamos executar dois sub-selects no comando FROM. O primeiro responsável pelos dados de salário e o segundo de receita   #
# 02. selecionando dataAno de data e soma dos salarios de funcionario                                                        #
# 03. especificando as relações de pagamento com data contendo mesma dataPK                                                  #
# 04. especificando as relações de funcionario com pagamento contendo mesmo funcPK                                           #
# 05. aplicando condição para funcionárias apenas do sexo feminino                                                           #
# 06. aplicando condição para funcionárias do RIO DE JANEIRO (filtrando tanto pelo nome do estado quanto pela sigla)         #
# 07. agrupando os dados por dataAno                                                                                         #
# 08. aplicando os resultados do sub-select como dataAnoP para dataAno e salario como o total do salário das funcionárias    #
# 09. cláusula para fazer a junção com outro sub-select, agora aplicado nos dados de receita                                 #
# 10. selecionando dataAno de data e soma das receitas de negociação                                                         #
# 11. especificando as relações de data com negociação contendo mesma dataPK                                                 #
# 12. especificando as relações de equipe com negociação contendo mesmo equipePK                                             #
# 13. aplicando condição para equipes do RIO DE JANEIRO (filtrando tanto pelo nome do estado quanto pela sigla)              #
# 14. agrupando os dados por dataAno                                                                                         #
# 15. aplicando os resultados do sub-select como dataAnoN para dataAno e receita como o total do receita das equipes         #
# 16. aplicando condição para juntar a dimensão em comum, dataAnoP do salário igual ao dataAnoN da receita                   #
# 17. agrupando por data, no caso dataAnoP                                                                                   #
# 18. ordenando por data, no caso dataAnoP de forma ascendente                                                               #
# 19. apresentando os 20 primeiros resultados sem truncamento das strings                                                    #
#----------------------------------------------------------------------------------------------------------------------------#

consultaSQL = """
SELECT dataAnoP AS `ANO`, ROUND(SUM(salario),2) AS `TOTALSALARIO`, ROUND(SUM(receita),2) AS `TOTALRECEITA`
FROM ( SELECT dataAno, SUM(salario)
       FROM pagamento JOIN data        ON (pagamento.dataPK = data.dataPK)
                      JOIN funcionario ON (funcionario.funcPK = pagamento.funcPK)
        WHERE funcSexo = 'F'
              AND (funcEstadoNome = 'RIO DE JANEIRO' OR funcEstadoSigla = 'RJ')
        GROUP BY dataAno
      ) AS sal(dataAnoP, salario)
      JOIN 
      ( SELECT dataAno, SUM(receita)
        FROM data JOIN negociacao ON (data.dataPK = negociacao.dataPK)
                  JOIN equipe     ON (equipe.equipePK = negociacao.equipePK)
        WHERE (filialEstadoNome = 'RIO DE JANEIRO' OR filialEstadoSigla = 'RJ')
        GROUP BY dataAno
      ) AS rec(dataAnoN, receita)
WHERE dataAnoP = dataAnoN
GROUP BY dataAnoP
ORDER BY dataAnoP ASC
"""
spark.sql(consultaSQL).show(20,truncate=False)

In [ ]:
# Resposta da Questão 6

#------------------------------------------------------CÓDIGO COMENTADO------------------------------------------------------#
#    Neste caso vamos usar a operação drill-across que compara medidas numéricas de tabelas de fatos diferentes              #
#    utilizando uma dimensão em comum (no caso data). Neste caso, vamos precisar separar as consultas em dois blocos,        #
#    sendo o primeiro referente aos dados de salario e o segundo referente aos dados de receitas.                            #
# 01. utilizando dados de pagamento e atribuindo ao bloco 1 nomeado de pag                                                   #
# 02. juntando com dados de data pela chave primária dataPK                                                                  #
# 03. juntando com dados de funcionario pela chave primária funcPK                                                           #
# 04. aplicando condição para identificar funcionárias do estado do RIO DE JANEIRO (tanto por nome quanto por sigla)         #
# 05. selecionando os dados de dataAno e salario como resultados do bloco 1                                                  #
# 06. agrupando os dados por dataAno                                                                                         #
# 07. agregando os dados de salário como o total do salário das funcionárias                                                 #
# 08. utilizando dados de negociacao e atribuindo ao bloco 2 nomeado de neg                                                  #
# 09. juntando com dados de data pela chave primária dataPK                                                                  #
# 10. juntando com dados de equipe pela chave primária equipePK                                                              #
# 11. aplicando condição para identificar equipes do estado do RIO DE JANEIRO (tanto por nome quanto por sigla)              #
# 12. selecionando os dados de dataAno e receita como resultados do bloco 2                                                  #
# 13. agrupando os dados por dataAno                                                                                         #
# 14. agregando os dados de receita como o total da receita das equipes                                                      #
# 15. utilizando dados do bloco 1 nomeado de pag                                                                             #
# 16. juntando com dados do bloco 2 nomeado de neg pela dimensão em comum entre ambas, no caso, dataAno                      #
# 17. selecionando os dados de dataAno, total de salarios e total de receitas                                                #
# 18. arredondando a soma dos salários para 2 casas decimais                                                                 #
# 19. arredondando a soma da receitas para 2 casas decimais                                                                  #
# 20. renomeando dataAno para ANO                                                                                            #
# 21. renomeando sum(salario) para TOTALSALARIO                                                                              #
# 22. renomeando sum(receita) para TOTALRECEITA                                                                              #
# 23. ordenando por data, no caso ANO de forma ascendente                                                                    #
# 24. apresentando os 20 primeiros resultados sem truncamento das strings                                                    #
#----------------------------------------------------------------------------------------------------------------------------#

pag = pagamento\
   .join(data, on='dataPK')\
   .join(funcionario, on='funcPK')\
   .where('funcSexo = "F" AND (funcEstadoNome = "RIO DE JANEIRO" OR funcEstadoSigla = "RJ")')\
   .select('dataAno', 'salario')\
   .groupBy('dataAno')\
   .sum('salario')

neg = negociacao\
   .join(data, on='dataPK')\
   .join(equipe, on='equipePK')\
   .where('filialEstadoNome = "RIO DE JANEIRO" OR filialEstadoSigla = "RJ"')\
   .select('dataAno', 'receita')\
   .groupBy('dataAno')\
   .sum("receita")

pag\
   .join(neg, on='dataAno')\
   .select('dataAno', 'sum(salario)', 'sum(receita)')\
   .withColumn('sum(salario)', round('sum(salario)',2))\
   .withColumn('sum(receita)', round('sum(receita)',2))\
   .withColumnRenamed('dataAno', 'ANO')\
   .withColumnRenamed("sum(salario)", 'TOTALSALARIO')\
   .withColumnRenamed("sum(receita)", 'TOTALRECEITA')\
   .orderBy('ANO',ascending=True)\
   .show(20,truncate=False)

In [ ]:
# Resposta da Questão 7

#------------------------------------------------------CÓDIGO COMENTADO------------------------------------------------------#
#    Neste caso vamos usar a operação drill-across que compara medidas numéricas de tabelas de fatos diferentes              #
#    utilizando uma dimensão em comum (no caso data).                                                                        #
# 01. selecionando dataAnoPF (dataAno já consolidada na subquery de salário para sexo feminino) como ANO                     #
#     selecionando a soma dos salarios femininos arredondando com 2 casas como TOTALSALARIOMULHERES                          #
#     selecionando a soma dos salarios masculinos arredondando com 2 casas como TOTALSALARIOHOMENS                           #
#     selecionando a soma das receitas arredondando com 2 casas como TOTALRECEITA                                            #
#    Nestes casos, tivemos alguns números sendo apresentados com notação científica, portanto, aplicamos a função CAST       #
#    AS DECIMAL, para a saída ficar no formato adequado (requerido no exercício). Como parâmetros do DECIMAL passamos o      #
#    valor 10 (tamanho considerado adequado - número de dígitos permitidos na parte inteira) e 2 (número de casas decimais). #
#    Vamos executar três sub-selects no comando FROM. O primeiro responsável pelos dados de salário feminino                 #
#    o segundo responsável pelos dados de salário masculino e o terceiro responsável pelos dados de receita.                 #
# 02. selecionando dataAno de data e soma dos salarios como salarioF (que terá os dados para funcionárias de sexo feminino)  #
# 03. especificando as relações de pagamento com data contendo mesma dataPK                                                  #
# 04. especificando as relações de funcionario com pagamento contendo mesmo funcPK                                           #
# 05. aplicando condição para funcionárias apenas do sexo feminino                                                           #
# 06. agrupando os dados por dataAno                                                                                         #
# 07. aplicando os resultados do sub-select como dataAnoPF para dataAno e salarioF como o total do salário das mulheres      #
# 08. cláusula para juntarmos o segundo sub-select                                                                           #
# 09. selecionando dataAno de data e soma dos salarios como salarioM (que terá os dados para funcionárias de sexo masculino) #
# 10. especificando as relações de pagamento com data contendo mesma dataPK                                                  #
# 11. especificando as relações de funcionario com pagamento contendo mesmo funcPK                                           #
# 12. aplicando condição para funcionários apenas do sexo masculino                                                          #
# 13. agrupando os dados por dataAno                                                                                         #
# 14. aplicando os resultados do sub-select como dataAnoPM para dataAno e salarioM como o total do salário dos homens        #
# 15. cláusula para juntarmos o terceiro sub-select                                                                          #
# 16. selecionando dataAno de data e soma das receitas de negociação                                                         #
# 17. especificando as relações de data com negociação contendo mesma dataPK                                                 #
# 18. especificando as relações de equipe com negociação contendo mesmo equipePK                                             #
# 19. agrupando os dados por dataAno                                                                                         #
# 20. aplicando os resultados do sub-select como dataAnoN para dataAno e receita como o total do receita das equipes         #
# 21. aplicando condição para juntar a dimensão em comum, dataAnoPF igual ao dataAnoN, igual ao dataAnoPM                    #
# 22. agrupando por data, no caso dataAnoPF                                                                                  #
# 23. ordenando por data, no caso dataAnoPF de forma ascendente                                                              #
# 24. apresentando os 20 primeiros resultados sem truncamento das strings                                                    #
#----------------------------------------------------------------------------------------------------------------------------#

consultaSQL = """
SELECT dataAnoPF AS `ANO`, CAST(ROUND(SUM(salarioF),2) AS DECIMAL(10,2)) AS `TOTALSALARIOMULHERES`, CAST(ROUND(SUM(salarioM),2) AS DECIMAL(10,2)) AS `TOTALSALARIOHOMENS`, CAST(ROUND(SUM(receita),2) AS DECIMAL(10,2)) AS `TOTALRECEITA`
FROM  ( SELECT dataAno, SUM(salario) AS `salarioF`
        FROM pagamento JOIN data        ON (pagamento.dataPK = data.dataPK)
                       JOIN funcionario ON (funcionario.funcPK = pagamento.funcPK)
        WHERE funcSexo = 'F'
        GROUP BY dataAno
      ) AS salF(dataAnoPF, salarioF)
      JOIN 
      ( SELECT dataAno, SUM(salario) AS `salarioM`
        FROM pagamento JOIN data        ON (pagamento.dataPK = data.dataPK)
                       JOIN funcionario ON (funcionario.funcPK = pagamento.funcPK)
        WHERE funcSexo = 'M'
        GROUP BY dataAno
      ) AS salM (dataAnoPM, salarioM)
      JOIN 
      ( SELECT dataAno, SUM(receita)
        FROM data JOIN negociacao ON (data.dataPK = negociacao.dataPK)
                  JOIN equipe     ON (equipe.equipePK = negociacao.equipePK)
        GROUP BY dataAno
      ) AS rec(dataAnoN, receita)
WHERE (dataAnoPF = dataAnoN AND dataAnoPF = dataAnoPM)
GROUP BY dataAnoPF
ORDER BY dataAnoPF ASC
"""
spark.sql(consultaSQL).show(20,truncate=False)